.forgotPasswordOuterDiv{
background-color: bisque;
padding: 20px 0px;
}
.passwordChangeDropDwonHoldingDiv{
    margin: 40px 0px;
    width:100%;
}
.forgotPasswordHeading{
    color:indigo;
}
.passwordChangeDropDwonHoldingDiv select{
    width:50%;
    border-radius: 10px;
    height:50px;
    text-align: center;
    font-size: x-large;
    color:indigo;
    font-weight: bold;
}
.passwordChangeConfirmbutton{
    background-color: green;
    color:white;
    padding: 5px 15px;
}
.changingPasswordDiv{
    display: flex;
    justify-content: center;
    width:100%;
}
.changingPasswordInnerDiv{
    background-color: white;
    border:1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px grey;
    color:indigo;
    font-weight: bold;
    width:40%;
    margin:20px 0px;
    padding:20px 0px;
}
.submitPasswordButton{
    background-color: rgb(43, 112, 251);
    padding: 5px;
    color:white;
    font-weight: bold;
    /* border-radius: 10px; */
}
.submitPasswordButton:hover{
    background-color: rgb(19, 136, 56);
}
#passwordChangeinput1,#passwordChangeinput2{
    margin:20px 0px;
}
.forgotPasswordOuterDiv{
    margin-bottom: 50px;
}
.forgotPasswordInput{
    width:70%;
    text-align: center;
}

@media screen and (min-width:400px) and (max-width:700px){
    .passwordChangeDropDwonHoldingDiv select {
        width: 80%;
    }
    .changingPasswordInnerDiv {
        width: 80%;
       
    }
}
@media screen and (min-width:350px) and (max-width:400px){
    .forgotPasswordOuterDiv {
        width:110%
    }
    .passwordChangeDropDwonHoldingDiv select {
        width: 80%;
    }
    .changingPasswordInnerDiv {
        width: 80%;
       
    }
}

@media screen and (min-width:330px) and (max-width:350px){
    .forgotPasswordOuterDiv {
        width:127%
    }
    .passwordChangeDropDwonHoldingDiv select {
        width: 80%;
    }
    .changingPasswordInnerDiv {
        width: 80%;
       
    }
}

@media screen and (min-width:265px) and (max-width:330px){
    .forgotPasswordOuterDiv {
        width:143%;
        /* margin-left: 5px; */
    }
    .passwordChangeDropDwonHoldingDiv select {
        width: 80%;
    }
    .changingPasswordInnerDiv {
        width: 80%;
       
    }
}

@media screen and (min-width:200px) and (max-width:265px){
    .forgotPasswordOuterDiv {
        margin-left: 5px;
        width:150%
    }
    
    .passwordChangeDropDwonHoldingDiv select {
        width: 80%;
    }
    .changingPasswordInnerDiv {
        width: 80%;
       
    }
}

@media screen and (min-width:100px) and (max-width:200px){
    .forgotPasswordOuterDiv {
        margin-left: 5px;
        width:150%
    }
    
    .passwordChangeDropDwonHoldingDiv select {
        width: 90%;
    }
    .changingPasswordInnerDiv {
        width: 95%;
    }
    .forgotPasswordInput{
        width:80%;
    }
}
@media screen and (min-width:0px) and (max-width:100px){
    .forgotPasswordOuterDiv {
        margin-left: 5px;
        width:200%
    }
    
    .passwordChangeDropDwonHoldingDiv select {
        width: 90%;
    }
    .changingPasswordInnerDiv {
        width: 95%;
    }
    .forgotPasswordInput{
        width:80%;
    }
    .submitPasswordButton {
        width: 100%;
        padding:5px 0px;
    }
}
